#!/bin/bash
intexit() {
  # Kill all subprocesses (all processes in the current process group)
  kill -HUP -$$
}
hupexit() {
  # HUP'd (probably by intexit)
  echo
  echo "Interrupted"
  exit
}

trap hupexit HUP
trap intexit INT

source env/bin/activate
export WALLET_ID="0xADDRESS"
export OFFLINE_MIN=30
export BOT_ID=""
export BOT_TOKEN=""
python nanopoolbot.py &

wait
